In [2]:
# Import required packages
import pandas as pd

In [4]:
#Read the input file into a dataframe
data = pd.read_excel('Lecture2-Bank-Customers.xlsx')
# Examine the data
data.head(10)

        id  age      region    income married  children save_act
0  ID12101   48  INNER_CITY  17546.00      NO         1       NO
1  ID12102   40        TOWN  30085.10     YES         3       NO
2  ID12103   51  INNER_CITY  16575.40     YES         0      YES
3  ID12104   23        TOWN  20375.40     YES         3       NO
4  ID12105   57       RURAL  50576.30     YES         0      YES
5  ID12106   57        TOWN  37869.60     YES         2      YES
6  ID12107   22       RURAL   8877.07      NO         0       NO
7  ID12108   58        TOWN  24946.60     YES         0      YES
8  ID12109   37    SUBURBAN  25304.30     YES         2       NO
9  ID12110   54        TOWN  24212.10     YES         2      YES